#menu > .el-row > .el-col{
    height: 800px;
    margin-top: 100px;
}
#menu .hide{
    transform: translateY(-50px);
}
#menu .item_icon{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}
#menu .el-collapse-item > div >div{
    background-color: transparent;
    border-bottom: 1px solid #8f8f8f;
}
#menu .el-collapse{
    border-top: 0px;
}
#menu .el-collapse-item__wrap{
    background-color: transparent;
    border-bottom: 0px;
}
#menu .el-collapse-item__content{
    color: white;
}
#menu .el-collapse-item__header{
    color: white;
}